body{
  margin: 0, auto;
  background-image: url("Blog/tło.png");
  border-style: solid 1px black;
  
}
img{
  width: 100%;
  height: 100px;
  margin-top: -200px;
}
h1{
  text-align: center;
}
h2{
  margin-left: 20px;
  float: left;
}
h3{
  text-align: center;
}
